@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes changeColour {
    0% {
        color: #54add6;
    }
    50% {
        color: var(--heading-colour);
    }
    100% {
        color: #54add6;
    }
}

@keyframes changeBorderColour {
    0% {
        border-color: var(--primary);
    }
    50% {
        border-color: var(--accent-colour);
    }
    100% {
        border-color: var(--primary);
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --background-colour: #191c25;
    --accent-colour: #1d90c6;
    --primary: #1dc6a1;
    --text-colour: #eee;
    --navbar-background: #323841;
    --navbar-text: #fff;
    --heading-colour: #b3e9ee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

/* Don't question it */
body *:first-child:not(nav):not(a) {
    margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    color: var(--heading-colour);
    font-weight: 500;
    display: flex;
    justify-self: center;
    align-self: center;
}

.title {
    text-align: center;
    margin: 4rem 0rem 1rem 0rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0.5rem 2rem;
    border-bottom: solid calc(1 / 16 * 1rem) var(--accent-colour);
    animation: changeColour 20s infinite, changeBorderColour 15s infinite;
}

p {
    width: 45%;
    margin: auto;
    padding: 0.3rem;
    font-size: 1.3rem;
}


.fade-out {
    animation: fadeOut 500ms ease-in-out;
}

#navbar {
    background-color: var(--navbar-background);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    text-justify: auto;
}

#navbar a {
    color: var(--navbar-text);
    padding: 0.428rem 1.25rem;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    transition: background-color 250ms;
    text-transform: uppercase;
    font-weight: bold;
}

#navbar a:hover {
    background-color: var(--accent-colour);
}

img.background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    img.background {
        left: 50%;
        margin-left: -512px;
    }
}